.addressBook {
  position: absolute;
  top: 40px;
  left: 0;

  .planetList {
    background-color: rgb(65, 63, 63);
    color: rgb(214, 214, 214);

    padding: 4px 12px;
    list-style: none;
    max-height: 520px;
    overflow-y: auto;

    .planet {
      padding: 8px 0;
      border-top: solid 1px rgb(116, 98, 83);

      &:nth-child(1) {
        border: none;
      }

      .glyphs {
        font-family: "sg1Glyph";
        font-size: 2rem;
        font-weight: 500;
        color: rgb(238, 127, 79);
      }
    }
  }
}
