@font-face {
  font-family: "sg1Glyph";
  src: url("../assets/fonts/stargate_sg1.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(122, 122, 126);

  .openAddressBook {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(206, 206, 206);
    border: none;
    padding: 8px 16px;

    &:hover {
      cursor: pointer;
    }
  }
}
