.chat {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(120% + 50px));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 200ms;
  z-index: 30;
  width: 100%;
  max-height: 100%;
  z-index: 35;
  background-color: rgb(65, 63, 63);
  color: white;
  border-radius: 4px;
  filter: opacity(0%);

  &.open {
    transform: translateY(0%);
    filter: opacity(100%);
  }

  .chatRooms {
    position: relative;
    display: flex;
    width: 100%;
    border-bottom: solid 1px rgb(231, 89, 26);

    .chatRoomsButton {
      width: auto;
      padding: 6px 6px;
      margin-right: 2px;
      border: none;
      background: none;
      color: rgb(163, 163, 163);

      &:hover {
        cursor: pointer;
        color: rgb(238, 127, 79);
      }

      &.active {
        color: rgb(238, 127, 79);
        font-weight: 600;

        &:hover {
          cursor: default;
          color: rgb(238, 127, 79);
        }
      }
    }

    .closeChat {
      position: absolute;
      right: 6px;
      background: none;
      border: none;
      font-weight: 800;
      color: rgb(238, 127, 79);
      height: 100%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .chatBox {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: rgb(83, 81, 81);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgb(61, 45, 37);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(224, 115, 68);
    }

    .messages {
      height: auto;
      list-style: none;
      padding: 0 10px;
      margin: 4px 0;

      word-wrap: break-word;

      .message {
        font-size: 14px;

        &.info {
          color: rgb(185, 184, 184);
        }
        .emptyChat {
          color: rgb(145, 143, 143);
        }
        .colorAdmin {
          color: rgb(223, 0, 0);
        }
        .colorUser {
          color: rgb(169, 206, 255);
        }
        .colorGuest {
          color: rgb(201, 201, 201);
        }
      }
    }
  }
  .inputContainer {
    width: 100%;
    display: flex;
    border-radius: 0 0 4px 4px;

    .inputBox {
      width: 100%;
      height: 100%;
      border-radius: 0 0 4px 4px;
      color: white;
      padding: 4px 8px;
      resize: none;
      border: none;
      border: solid 1px rgb(83, 81, 81);
      background-color: rgb(83, 81, 81);

      &::placeholder {
        color: rgb(163, 163, 163);
      }

      &:focus {
        outline: none;
        border: solid 1px rgb(231, 89, 26);
      }
    }
  }
}

@media screen and (min-width: 650px) {
  .chat {
    bottom: 40px;
    width: 45%;

    .chatBox {
      height: 20vh;

      .messages {
        .message {
          font-size: 16px;
        }
      }
    }
  }
}
