.navMenu {
  z-index: 500;
  position: fixed;
  top: 0;
  right: 0;
  list-style: none;
  display: flex;

  .navButton {
    margin: 0px;
    background-color: rgb(65, 63, 63);
    transition: 100ms;
    border: solid 2px rgb(61, 45, 37);

    &:hover,
    :active {
      border: solid 2px rgb(231, 89, 26);
      cursor: pointer;

      a {
        color: rgb(238, 127, 79);
      }
    }

    a {
      padding: 8px;
      text-decoration: none;
      transition: 100ms;
      color: rgb(119, 115, 113);
    }
  }
}

.connectedInfo {
  position: fixed;
  top: 25px;
  right: 2px;
}
