.gameContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.currentPlanet {
  position: absolute;
  top: 0;
  font-size: 2rem;
  padding: 8px;

  .offworld {
    background-color: rgba(7, 7, 7, 0.5);
    font-weight: 600;
    color: red;
  }
}

.stargate {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 60px;
  p {
    color: cyan;
    text-align: center;
  }
  .chevrons {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: rgb(53, 53, 53);

    .chevron {
      background-color: grey;
      margin: 8px;
      width: fit-content;
      padding: 4px 8px;
      font-weight: 800;
      &.active {
        background-color: rgb(185, 66, 36);
        color: rgb(255, 166, 0);
      }
    }
  }

  .wormhole {
    &:hover {
      cursor: pointer;
    }
  }
}

.dhd {
  z-index: 50;
  position: absolute;
  bottom: -353px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 40vh;
  background-color: rgba(61, 58, 58, 0);
  padding: 28px 20px 4px 20px;
  transition: 500ms;

  &.signup {
    position: relative;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 0;

    p {
      display: flex;
      align-items: center;
    }
  }

  &.open {
    bottom: 0;
    background-color: rgba(61, 58, 58, 0.7);
    backdrop-filter: blur(4px);
  }

  .showHide {
    position: absolute;
    background-color: rgba(61, 58, 58, 0.7);
    border: solid 2px rgb(61, 45, 37);
    color: rgb(119, 115, 113);
    padding: 2px 48px;
    border-radius: 50% 50% 0 0;
    top: 0;
    transition: 100ms;

    &.hide {
      border-radius: 0 0 50% 50%;
    }

    &:hover {
      border: solid 2px rgb(231, 89, 26);
      color: rgb(238, 127, 79);
      cursor: pointer;
    }
  }

  form {
    text-align: center;
  }

  .buttonList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    max-width: 800px;
    max-height: 500px;

    .buttonItem {
      color: rgb(53, 53, 53);
      margin: 4px;
      width: 60px;
      height: 60px;

      .symbButton {
        color: rgb(119, 115, 113);
        background-color: rgb(65, 63, 63);
        font-family: "sg1Glyph";
        font-weight: 500;
        font-size: 3rem;
        width: 100%;
        height: 100%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px rgb(61, 45, 37);
        user-select: none;

        &.active {
          border: solid 2px rgb(231, 89, 26);
          color: rgb(238, 127, 79);

          &:hover {
            cursor: default;
          }
        }

        &.noClick {
          &:hover {
            cursor: default;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .dhdButton {
    background-color: rgb(54, 39, 39);
    color: rgb(114, 108, 108);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: solid rgb(65, 63, 63);
    transition: 150ms;

    &.active {
      background: radial-gradient(
        circle,
        rgba(255, 238, 199, 1) 0%,
        rgba(255, 187, 136, 1) 14%,
        rgba(231, 89, 26, 1) 44%,
        rgba(139, 36, 3, 1) 100%
      );
    }

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 650px) {
  .stargate {
    top: 100px;
  }

  .currentPlanet {
    margin-top: 10%;
    .offworld {
      background-color: rgba(7, 7, 7, 0.5);
      font-weight: 600;
      font-size: 1.3rem;
      color: red;
    }
  }

  .dhd {
    bottom: -273px;
    padding: 28px 0 0 0;

    .showHide {
      display: block;
      &.hide {
        border-radius: 50% 50% 0 0;
      }
    }

    &.open {
      bottom: 0;
      background: none;
      backdrop-filter: none;
    }

    .buttonList {
      max-height: 40vh;

      .buttonItem {
        width: 40px;
        height: 40px;
        margin: 1.5px;

        .symbButton {
          font-size: 2rem;
        }
      }
    }

    .dhdButton {
      height: 50px;
      width: 50px;
    }
  }
}
